
.pricing-page {
  background: linear-gradient(
    93.08deg,
    #ffffff 5.3%,
    #fff2ed 36.63%,
    #ffffff 72.36%,
    rgba(225, 235, 242, 0) 98.15%
  );
  font-family: Mulish;
  padding-bottom: 0;
}

.pricing-plans-container {
  padding: 62px 0;
  background-color: #f4f7fa;
}

.pricing-table,
.pricing-container {
  margin: 0 auto;
}

.pricing-table {
  width: 68%;
  background-color: white;
  border-radius: 10px;
  padding: 62px 50px;
}

.pricing-container {
  margin-bottom: 132px;
  width: 85%;
}



.faq-container {
  position: relative;
  background-color: white;
  padding-top: 75px;
  padding-bottom: 130px;
}

/* .table-title-box{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
} */

.table-title-box p {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

@media (max-width: 992px) {
  .price-cta {
    width: 100%;
  }

  .pricing-table {
    width: 80%;
  }

  .faq-container {
    padding-left: 60px;
  }
}

@media (max-width: 769px) {
  .pricing-container,
  .pricing-table {
    width: 90%;
  }
}

@media (max-width: 631px) {
  .faq-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pricing-table {
    width: 100%;
    border-radius: 0;
    padding: 15px;
  }
}
