.top-header-container {
  padding: 26px 0;
  text-align: center;
  background-color: #57a7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.top-header-container p {
  color: white;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.take-test-btn {
  color: #57a7dd;
  border-radius: 10px;
  padding: 13px 14px 9px 14px;
  background-color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  display: flex;
  gap: 15px;
}


@media (max-width: 816px) {
    .top-header-container{
        gap: 20px;
    }

    .top-header-container p{
        font-size: 16px;
    }

    .take-test-btn{
        font-size: 14px;
    }
}

@media (max-width: 654px) {
     .top-header-container{
        flex-wrap: wrap;
     }
}

@media (max-width: 500px) {

    .top-header-container{
        gap: 10px;
        padding: 5%;
    }
     .top-header-container p{
        font-size: 12px;
     }

     .top-header-container img{
        height: 20px !important;
        width: 20px !important;
     }

     .take-test-btn{
        font-size: 11px;
        padding: 8px;
        gap: 10px;
     }
}