.desc-box h2 {
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    width: 80%;
}

.desc-box p {
    width: 77%;
}

@media (max-width: 992px) {
    .desc-box {
        margin-top: 3.5rem;
    }

    .desc-box p {
        margin: 1.5rem 0;
    }
}

@media (max-width: 631px) {
    .desc-box h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .desc-box p {
        width: 100%;
    }

    .subTitle {
        font-size: 18px;
        line-height: 30px;
    }
}