.tc-page{
  background-color: #F4F7FA;
}
.tc-details-container {
  padding: 5% 10%;
}

.tc-title {
  font-family: Sansita;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-align: center;
}

.tc-detail-title, .intro-text {
  color: black;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.intro-text{
  font-weight: 400;
}

.tc-detail-desc,
.tc-details-container li {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #494949;
}
.ul-list {
  list-style-type: disc;
  padding-left: 8%;
}

ol {
  counter-reset: alpha;
  list-style-type: lower-alpha;
  padding: 0;
}
ol > li {
  list-style: none;
}
ol > li:before {
  counter-increment: alpha;
  content: "(" counter(alpha, lower-alpha) ") ";
  font-size: 20px;
  font-weight: 700;
}

.tc-transaction{
  margin: 1rem 0;
}

.tc-table{
  border: 2px solid;
  margin-bottom: 30px;
}

.tc-table th{
  font-family: Mulish;
  border: 2px solid;
  padding: 5px 10px;
}

.sla-details th{
   color: #494949;;
}

.one{
  width: 5%;
}
.two, .four{
  width: 37.5%;
}

.three{
  width: 20%;
}


@media (max-width: 631px) {
  .tc-details-container {
    padding: 5%;
  }
  .tc-title {
    font-size: 25px;
    word-spacing: 5px;
  }
  .tc-detail-title, .intro-text {
    font-size: 16px;
  }
  ol > li:before {
    font-size: 16px;
    font-weight: 600;
  }

  .tc-detail-desc,
  .tc-details-container li {
    font-size: 14px;
  }

  .tc-table th{
   font-size: 11px;
  }
}
